.button {
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  background: var(--clr-primary);
  color: var(--clr-white);
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.button:hover {
  background: var(--clr-primary-light);
}