@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --clr-primary: #231a60;
  --clr-primary-light: #3c338d;
  --clr-grey: hsl(209, 34%, 30%);
  --clr-grey-light: #f1f5f8;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Open Sans', sans-serif;
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --bottom-spacing: 5vh;
  --radius: 0.25rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}